{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.task }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <form action="/todo/update/{{ task.id }}" method="POST">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/todo/delete/{{ task.id }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
                <td>{{ 'Completed' if todo.isCompleted else 'Pending' }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/todo" method="POST">
            <input type="text" name="task" id="task" placeholder="task">
            <input type="text" name="description" id="description" placeholder="description">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}