{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.task }}</td>
                <td>{{ task.description }}</td>
                <td>{{ 'Completed' if task.isCompleted else 'Pending' }}</td>
                <td>
                    <form action="/todo/update/{{ task.id }}" method="GET" style="display:inline;">
                        <button type="submit" onclick="return">Update</button>
                    </form>
                    <form action="/todo/delete/{{ task.id }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/todo" method="POST">
            <label for="task">Task:</label>
            <input type="text" id="task" name="task" required>

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>

            <label for="isCompleted">Status:</label>
            <select id="isCompleted" name="isCompleted">
                <option value="false" selected>Pending</option>
                <option value="true">Completed</option>
            </select>

            <button type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}